body {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}
/* html, body, .home{
	height: 50%;
} */
.home-overlay {
  height: 100%;
}
img {
  max-width: 100%;
}
.navbar-default {
  background: transparent;
  border: 0;
  transition: all 0.5s;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus {
  color: #eee;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #ccc;
}
.navbar-brand {
  display: none;
}
.navbar-default .navbar-toggle .icon-bar {
  background: #eee;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}
.navbar-fixed-top {
  background: #fff;
  border-bottom: 1px solid #ccc;
}
.navbar-fixed-top .navbar-brand {
  display: block;
  font-size: 30px;
  color: #333;
}
.navbar-fixed-top .navbar-nav > li > a,
.navbar-fixed-top .navbar-nav > li > a:focus {
  color: #333;
}
.navbar-fixed-top .navbar-nav > li > a:hover {
  color: #555;
}
.navbar-fixed-top .navbar-nav > .active > a,
.navbar-fixed-top .navbar-nav > .active > a:focus {
  color: #2219b2;
  background: transparent;
}
.navbar-fixed-top .navbar-nav > .active > a:hover {
  background: transparent;
}
.navbar-fixed-top .navbar-toggle .icon-bar {
  background: #888;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #ccc;
}
.home {
  background: url(bck.jpg) center fixed;
  background-size: cover;
  min-height: 350px;
  height: 50vh;
}
.home-overlay {
  background: rgba(0, 0, 50, 0.5);
  position: relative;
}
.home-text {
  color: #eee;
}
.home-text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}
.arrow {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  transition: all 0.5s;
  bottom: 10%;
}
.arrow a {
  width: 48px;
  height: 48px;
  display: block;
  margin: 0 auto;
  background: url(arrow.png);
  background-size: 100%;
  transition: all 0.5s;
}
.arrow a:hover {
  background: url(arrow_b.png);
  background-size: 100%;
}
h1 {
  margin-top: 10px;
  font-size: 64px;
}
h2 {
  text-align: center;
  font-size: 40px;
}
h3 {
  font-size: 32px;
}
.about {
  text-align: center;
  background-color: #efefef;
}
.about .container {
  max-width: 900px;
  padding: 70px 15px;
}
.about img {
  margin-bottom: 30px;
  border-radius: 50%;
  width: 300px;
}
.portfolio {
}
.portfolio .container {
  padding: 70px 15px;
  max-width: 1000px;
}
.sites img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: 0.3s;
  max-width: 100%;
}
ul.sites {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.sites li {
  margin-top: 60px;
  position: relative;
}
span.text-content {
  color: #fff;
  left: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 80px;
  font-size: 26px;
  font-weight: 300;
}
span.text-content h3 {
  font-size: 48px;
  margin-bottom: 16px;
}
ul.sites li:hover img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
ul.sites a {
  float: right;
  color: #fff;
  border: 2px solid #fff;
  padding: 5px 40px;
  transition: 0.3s;
  text-decoration: none;
  margin-top: 15px;
}
ul.sites a:hover {
  background: #fff;
  color: #333;
}
.portfolio .modal-dialog {
  width: 1000px;
  max-width: 90%;
}
.modal-content {
  border: 0;
  border-radius: 0;
  text-align: center;
  font-size: 18px;
}
.modal-content p {
  padding: 20px 10px;
}
.modal-header {
  border: 0;
}
.contact {
  background-color: #efefef;
}
.contact .container {
  max-width: 700px;
  padding: 70px 15px;
}
.contact .icons {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}
.contact .icons .icons-item:not(:first-child) {
  margin-left: 32px;
}
::-webkit-input-placeholder {
  color: #888;
}
:-moz-placeholder {
  color: #888;
}
::-moz-placeholder {
  color: #888;
}
:-ms-input-placeholder {
  color: #888;
}
.footer {
  background-color: #212121;
  width: 100%;
  color: #fff;
  text-align: center;
}
.footer .container {
  max-width: 600px;
  padding: 100px 15px;
}
.footer a {
  display: block;
  max-width: 80px;
  margin: 20px auto;
}
@media (max-width: 768px) {
  ul.sites a {
    float: none;
    display: inline-block;
    margin: 0;
    font-size: 16px;
    padding: 4px 20px;
  }
  ul.sites a:last-child {
    margin-top: 10px;
  }
  .sites .col-sm-6 {
    padding: 10px 10px 0 10px;
  }
  span.text-content {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    top: 0;
  }
  span.text-content h3 {
    font-size: 22px;
    margin: 3px 0;
  }
  span.text-content span {
    font-size: 16px;
  }
}
